body{
    background-color: rgba(233, 121, 102, 0.767);
    lighting-color: 10%;
    background-image: url("images/bg-intro-desktop.png");
}
.container{
    margin-top: 13%;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.container .info{
    display: flex;
    flex-direction: column;
}
.container .info h1{
    color:#fff;
    font-family: sans-serif;
    font-size: 50px;
    width: 450px;
    font-weight: bold;
}
.container .info p{
    color: #fff;
    font-family: sans-serif;
    width:450px;
    font-weight: bold;
}
.container .container-login p{
    text-align: center;
    box-shadow: 2px 2px 6px 2px rgba(49, 49, 204, 0.8);
    border-radius: 13px;
    padding: 13px;
    background-color: rgba(49, 49, 204, 0.815);
    color:#fff;
    font-weight: bold;
}
.container .container-login .login{
    border-radius: 13px;
    background-color: #fff;
    width:650px;
    display: flex;
    flex-direction: column;
}
.container .container-login .login input{
    margin:16px auto;
    outline: none;
    width: 70%;
    border-radius: 13px;
    border:2px solid rgb(38, 90, 158);
    padding: 13px;
}
.container .container-login .login button{
    background-color:rgb(49, 167, 49);
    color: #fff;
    text-align: center;
    border:none;
    padding:13px;
    outline:none;
    cursor: pointer;
    border-radius: 13px;
    width:75%;
    margin:7px auto;
    transition: 0.2s;
}

.container .container-login .login button:hover{
    background-color:rgb(49, 140, 5);
}